.categories-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.category-button {
      z-index: 999;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #f0f4f8;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .category-button:hover {
    background-color: #d0e1f2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .category-button.active {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  